.header{
    border-bottom: 2px solid #ff994b;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.logo{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}